.container-fluid
  %h1 Hello World!
  = link_to "Privacy Policy", privacy_policy_path
  %i.far.fa-address-book
  %i.fab.fa-github

= link_to courses_path, class: 'btn btn-success' do
  .fa.fa-book
  Course